/* You can add global styles to this file, and also import other style files */
.card {
  margin-top: 1rem;
}

.state-a-delivrer{
  color: red;
}

.state-en-cours{
  color: blue;
}
.state-livree{
  color: green;
}
